<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('parts/head') %>
</head>

<body>
    <%- include('parts/header') %>
        <%- include('parts/aside') %>
            <main>
                <h1>500 | Something went wrong</h1>
                <p>Unfortunately, something went wrong on the server - we are doing our best to resolve the issue.</p>
            </main>
</body>

</html>