<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('parts/head') %>
  <link rel="stylesheet" href="styles/recommend.css">
</head>

<body>
  <%- include('parts/header') %>
    <%- include('parts/aside') %>
      <main>
        <h1>Share your favorite restaurant!</h1>
        <%- include('parts/form') %>
      </main>
</body>

</html>